.background {
  background: grey; 
  height: 100%;
  margin: 25;
  padding: 10;
}
  
.image {
 outline: solid; 
} 

h1 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
}

h2 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
}

p {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
}

li {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
} 
  
