/* --- General --- */
main {
  padding: 20px
}   

.background {
  background: grey; 
  height: 100%;
  margin: 25px; 
  padding: 10px;
}
  
.image {
 outline: solid; 
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 34%
} 

h1 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
  margin: 0 0 30px 10px;
}

h2 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
  margin: 0 10px;
}

h3 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
  margin: 1px;
}

p {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
}

li {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
  text-align: center;
} 

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .group {
    display: flex;
    flex-direction: row;
  }
  p {
    font-size: large;
  }  
}

/* Preferred uniform font and styling across all text */
  
a:link: {
 color: blue;
} 

a:visited: {
 color: green;
} 

a:hover: {
 color: red;
} 

a:active: {
 color: purple;
} 

/* Wanted to consider all link conditions */

iframe {
  margin-left: auto;
  margin-right: auto;
}



