.background {
  background: white; 
}
  
h1 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
}

h2 {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
}

p {
  color: black;
  font-size: large;
  font-family: Georgia, serif;
}

.height {
  height: 100%;
}

.margin {
  margin: 25;
}
  
.padding {
  padding: 50;
}

.text-align {
  text-align: center;
}
  
  
  
